/* --------------------Mobile/Small Device Responsive Added-------------------- */

@media only screen and (max-width: 576px) {
  /* -----Navbar Mobile/Small Device Responsive Added----- */
  nav {
    padding: 3.5rem 0 3rem;
  }
  .nav-container {
    margin: 0 1.25rem;
  }
  .fa-bars {
    display: block;
  }
  .nav-links {
    display: none;
  }

  /* -----Banner Section Mobile/Small Device Responsive Added----- */
  .banner-container {
    flex-direction: column;
    margin: 0 1.5rem;
    outline: 1px solid orangered;
  }

  .banner-left {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-right {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .box-1 {
    top: 9%;
    right: 13%;
  }

  .play {
    bottom: 45%;
    right: 78%;
  }

  .box-2 {
    bottom: 40%;
    right: 52%;
  }

  /* -----Change Your Habits Section Mobile/Small Device Responsive Added----- */
  .change-habits {
    margin: 0 1.5rem;
  }
  .habits-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .habits-box img {
    width: 50%;
  }

  /* ----------Run Section Mobile/Small Device Responsive Added---------- */
  .run-section {
    flex-direction: column;
    margin: 0 1.5rem;
    margin-bottom: 3rem;
  }
  .run-text-container button {
    width: 100%;
  }
  .run-image-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  /* ----------Trainings Section Mobile/Small Device Responsive Added---------- */
  .trainings-section {
    margin: 0 1.5rem;
    margin-bottom: 3rem;
  }
  .trainings-row-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .trainings-row-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .trainings-box-3,
  .trainings-box-6 {
    display: none;
  }

  /* ----------BMI Calculator Section Mobile/Small Device Responsive Added---------- */
  .calculator-text-container {
    margin: 0 1.5rem;
    text-align: left;
    margin-bottom: 3rem;
  }
  .table-form-container {
    margin: 0 1.5rem;
    flex-direction: column;
    align-items: start;
  }
  .table-container {
    width: 100%;
  }
  .form-container {
    width: 100%;
  }
  .form-row.single-column input {
    margin-bottom: 2.5rem;
  }
}
